
/* .image{
    border-radius:20px ;
  } */
   /* .image-2{
    margin-top: 20%;
    display: flex;
  } */
  .image1{
    width: 200px;
    height: 200px;
    margin-right: 10%;
    margin-left: 10%;
    position: absolute;
    top: 230%;
    left: 230px;
    border-radius: 20px;
  }
  .image-2{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 265%;
    left: 370px;
    border-radius: 20px;
  }
  .rex{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    /* position:absolute; */
    top: 250%;
    left: 230px;
    z-index: 2;
  }